<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lupa Kata Sandi</title>
    <link rel="stylesheet" href="/intro.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <section class="container forms">
        <div class="form forgot-password">
            <div class="form-content">
                <header>Lupa Kata Sandi</header>
                <form id="forgotPasswordForm" action="/forgot-password" method="POST">
                    <div class="field input-field">
                        <input type="email" name="email" placeholder="Email" class="input" required>
                    </div>
                    <div class="field button-field">
                        <button type="submit">Atur Ulang Kata Sandi</button>
                    </div>
                </form>
                <div class="form-link">
                    <span>Ingat Kata Sandi? <a href="/login" class="link">Masuk</a></span>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const forgotPasswordForm = document.getElementById('forgotPasswordForm');

            // Tangani pengiriman form untuk reset password
            forgotPasswordForm.addEventListener('submit', async (e) => {
                e.preventDefault(); // Mencegah refresh halaman saat submit
                const formData = new FormData(forgotPasswordForm);

                try {
                    const response = await fetch('/forgot-password', {
                        method: 'POST',
                        body: formData
                    });

                    const result = await response.json();
                    if (result.success) {
                        alert('Please check your email for password reset instructions.');
                        window.location.href = '/login'; // Redirect ke halaman login setelah berhasil
                    } else {
                        alert(result.message); // Tampilkan pesan kesalahan
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            });
        });
    </script>
</body>

</html>